/**************************************************
Fonts
Droid Serif
Droid Sans
Droid Sans Mono

Font Scaling
6.854rem
4.236rem
2.618rem
1.618rem
1.0rem
0.618rem

Colour scheme

**************************************************/
@import 'https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif';
@import 'https://fonts.googleapis.com/css?family=Josefin+Slab';
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';
@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Josefin Sans', "Comic Sans MS", cursive, sans-serif;
}
/*************************** 
DEFAULTS - MOBILE FIRST 
***************************/
h1{
    font: bold 4.236rem 'Josefin Slab', "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: white;
    text-shadow: 5px 5px 5px black;
}
h2{
    font: bold 2.618rem 'Josefin Slab', "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
li, p, a{
    font: bold 1.618rem 'Josefin Sans', "Comic Sans MS", cursive, sans-serif;
}
pre, code, kbd{
    font: normal 1.0rem 'Share Tech Mono', "Lucida Console", Monaco, monospace;
}
/***************************
    LAYOUT - MOBILE FIRST
***************************/
.wrapper{
    width: 95%;
    margin: 0 auto;
}
header{
    width: 100%;
    border-bottom: solid 0.16rem;
    padding: 20px 40px;
    background: url(http://hd.wallpaperswide.com/thumbs/maine_coon_cat_portrait-t2.jpg);
    background-position: center;
    background-size: cover;
}
nav{
    width: 100%;
    padding: 0 40px;
}
nav>ul{
    width: 100%;
    border: solid 0.2rem;
}
nav li{
    width: 100%;
    list-style: none;
    border-bottom: solid 0.1rem;
}
nav a,
nav a:link,
nav a:visited{
    display: block;
    font: bold 1.618rem 'Josefin Sans', "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    text-decoration: blink;
    color: cadetblue;
    padding: 5px;
}
nav a:active,
nav a:focus,
nav a:hover{
    color: mediumpurple;
}
main{
    width: 100%;
    padding: 0 40px;
}
.col{
    float: none;
    width: 100%;
}
.first h2{
    padding-top: 20px;
}
.col img{
    width: 100%;
    height: auto;
    max-width: 100%;
    background-color: azure;
}
.col p{
    padding: 20px 0;
}
footer{
    width: 100%;
    padding: 20px 40px;
    border-top: solid 0.16rem;
}
footer>ul{
    padding: 10px 25px;
}
footer a,
footer a:link,
footer a:visited{
    font: bold 1.618rem 'Josefin Sans', "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    text-decoration: blink;
    color: cadetblue;
}
footer a:active,
footer a:focus,
footer a:hover{
    color: mediumpurple;
}

@media screen and (min-width:600px){
    wrapper{
        width: 100%;
    }
    header{
        width: 100%;
    }
    nav{
        width: 90%;
        margin: 0 40px;
        padding: 0;
    }
    nav>ul{
        overflow: hidden;
        border: solid 0.18rem;
    }
    nav li{
        border: none;
    }
    nav a,
    nav a:link,
    nav a:visited{
        width: 20%;
        float: left;
        padding: 10px 5px;
    }
    main{
        width: 90%;
        overflow: hidden;
        margin: 0 40px;
        padding: 0;
    }
    .col{
        width: 50%;
        float: left;
    }
    .col img{
        width: 60%;
        float: left;
    }
    .col h2{
        padding-top: 20px;
    }
    .first{
        padding-right: 15px
    }
    .second{
        padding-left: 15px;
    }
    footer{
        width: 90%;
    }
}
@media screen and (min-width: 800px){
    header{
        width: 100%;
    }
    nav{
        width: 90%;
    }
    nav>ul{
        border: none;
    }
    nav a,
    nav a:link,
    nav a:visited{
        width: 20%;
        text-align: left;
        padding: 20px 5px 10px 0;
    }
    main{
        width: 90%;
    }
    .col{
        width: 50%;
    }
    .col img{
        width: 50%;
    }
    footer{
        width: 100%;
    }
}
@media screen and (min-width: 1200px){
    .wrapper{
        height: auto;
    }
    header{
        width: 100%;
        padding: 40px;
    }
    nav{
        width: 30%;
        float: left;
        padding: 40px 0;
        margin: 0;
    }
    nav a,
    nav a:link,
    nav a:visited{
        float: none;
        padding-left: 40px;
    }
    main{
        width: 70%;
        float: left;
        padding: 40px 20px 40px 0;
        margin: 0;
    }
    .col{
        width: 50%;
    }
    .col img{
        width: 55%;
    }
    footer{
        width: 100%;
        height: 40px;
        position: relative;
        margin-top: -40px;
        clear: both;
        padding: 0 40px;
    }
    footer p {
        float: left;
        padding: 20px 10px 0;
    }
    footer>ul{
        padding: 0;
        float: left;
    }
    footer li{
        list-style: none;
        padding: 20px 10px;
        float: left;
    }
}
